{% extends "main.html" %}

<!-- Content -->
{% block content %}
{{super()}}

<h1> 😅 Oups...</h1>

<p>
    La page que vous cherchez n'existe pas.
</p>

<p>
    Si vous êtes arrivés ici en tentant de résoudre une énigme, votre réponse (<code id="reponse"></code>) est invalide...
</p>

<input type="button" class="md-button" value="Essayez-encore !" onclick="window.history.back()" />

<script>
    let url = window.location.href;
    let args = url.split("/");

    if (args[args.length - 1] === '') {
        document.getElementById("reponse").innerHTML = args[args.length - 2]
    } else {
        document.getElementById("reponse").innerHTML = args[args.length - 1]
    }
</script>

{% endblock %}